.title {
    background-color: blue;
    color: #02ccba;
  }
.main_contents_item {
    background-color: rgba(152, 152, 206, 0.575);
    width: 3000px;
    height: 600px;
}
.sub_contents_item {
    background-color: rgba(152, 152, 206, 0.575);
    width: 300px;
    height: 300px;
    padding: 100px;
    float: left;
}
